<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Address</th>
    <!--      <th>Low bd</th>-->
    <!--      <th>Up bd</th>-->
    <th>Size</th>
    <th>Year founded</th>
    <th>Revenue</th>
    <th>Synopsis</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= company.website %></td>
      <td><%= company.address %></td>
      <td><%= company.size %></td>
      <td><%= company.year_founded %></td>
      <td><%= company.revenue %></td>
      <td><%= company.synopsis %></td>
      <td><%= link_to 'Show', company %></td>

    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%=link_to 'Back' ,home_hunter_path(current_user.hunter.id)%>
<% if logged_in? %>
  <%= link_to "Log out", logout_path, method: :delete %>
<% end %>
