<%= form_for(interest) do |f| %>
  <% if interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

    <%= f.label :hunter_id %>
    <%= f.text_field :hunter_id %>
  </div>

  <div class="field">
    <%= f.label :house_id %>
    <%#= f.collection_select(:house_id, House.all, :id, :location) %>
    <%= select("interest", "house_id", House.all.collect{ |c| [ c.location, c.id ]}, { include_blank: true }) %>

    <!--   # <#%= f.text_field :house_id %>-->
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
