<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @house.location %>
</p>

<p>
  <strong>Square ft:</strong>
  <%= @house.square_ft %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @house.year_built %>
</p>

<p>
  <strong>Style:</strong>
  <%= @house.style %>
</p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @house.floor %>
</p>

<p>
  <strong>Basement:</strong>
  <%= @house.basement %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @house.owner %>
</p>

<p>
  <strong>Contact info:</strong>
  <%= @house.contact_info %>
</p>

<p>
  <strong>Realtor:</strong>
  <%= @house.realtor_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @house.company_id %>
</p>

<p>
  <strong>Pic link:</strong>
  <%= @house.pic_link %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %>
<a href="javascript:history.back()">Back</a>